@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;1,500&display=swap');


.section{ 
    transform-origin: center;
    font-family: 'Kanit', sans-serif;
}

.title-animation {
    font-size: 130px;
    letter-spacing: 4px;
}